h1 {
    font-size: 90px !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
}

/*--------------------NAV----------------------*/
nav ul{
    margin-bottom: 0px;
}
nav {
    background-color: #0000;
    width: 100%;
    height: 50px;
    /*line-height: 50px;*/
    position: absolute;
    color: white;
}
nav ul {
    float: right;
    margin-right: 50px;
}
nav ul li {
    list-style-type:none ;
    display: inline-block;
    transition: 0.7s all;
    padding: 30px 0 30px;
    text-align: justify;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 30px ;
    text-align: justify;
}

  
/*--------------------BGimage----------------------*/

.txtOnImg{
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
   color: white;
   font-size: 40px;
}

/* ------------------containers---------------------- */

.bigContainer{
    margin: 3% 10% 7% 10%;
    /* padding-top: 20px; */
    position: relative;
}
.container1, .container2, .container3, .container4{
    border: 4px solid #c4c1c0;
    border-radius: 15px;
    text-align: center;   
    font-size: 25px;
    color: #343635;
    font-family: 'Quicksand', sans-serif;
}
.container1{
    position: absolute;
    left:30px;
}
.container2{
    position: absolute;
    left: 330px;
}
.container3{
    position: absolute;
    left: 630px;
}
.container4 {
    position: absolute;
    left: 930px;
}
.container1:hover , .container2:hover , .container3:hover , .container4:hover{
    transform: scale(1.1);
}

/* ---------------------COLLECTION---------------------- */

.collection{
    padding-top: 50px;
    position: absolute;
    top: 250px ;
    left: 30px;
    margin: 3% 10% 1% 0;
   
}
h2{
    font-size: 40px !important;
}
p.explore{
    font-size: 20px;
}
.raipur{
    position: absolute;
    left: 965px;
    top: 110px;
    font-size: 17px;
    width: 200px;
    color: red;
}
.container5{
    position: absolute;
}
.container6{
    position: absolute;
    left: 300px;
}
.container7{
    position: absolute;
    left: 600px;
}
.container8{
    position: absolute;
    left: 900px;
}

p.miniContainer1{
    position: absolute;
    top: 70%;
    color: white;
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.5);
    width: 92%;
}

/* ------------------Get APP -------------------*/
.getApp{
    /* background-color:#222831; */
    background-color: #2B2B2B;
    height: 75%;
    width: 100%;
    position: absolute;
    top: 185%;
}
.email{
    margin: 0 350.275px 0 350.275px;
    text-align: left;
    font-size:large;
    width: 50%;
    color: white;
}
/* ------------------------------------------ */
.about{
    margin-left: 150px;
    line-height: 40px;
    padding-bottom: 50px;

}
.footer{
    line-height: 30px;
    
}


/* ------------------------------------------------RESPONSIVE----------------------------------------------------------- */